# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Aline2.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Unity\project\Rogalic\Aline2\.idea\.idea.Aline2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
